<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Excel_Import.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Excel_Import.Properties.Settings>
            <setting name="ColumnIndexStart" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WorkbookIndex" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>1</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DateTimeColumns" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="ImportFile" serializeAs="String">
                <value>D:\SSG\11_Daten\Excel\KPI_ShopFloor_Einstellungen.xlsx</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=; User Id=; Password=; Initial Catalog=</value>
            </setting>
            <setting name="ImportTable" serializeAs="String">
                <value>IMP_Excel_PersonalTeam_IMP</value>
            </setting>
            <setting name="ColumnIndexEnd" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="MaxEmptyRows" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IgnoreHeader" serializeAs="String">
                <value>False</value>
            </setting>
        </Excel_Import.Properties.Settings>
    </applicationSettings>
</configuration>