<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReadADInfos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ReadADInfos.Properties.Settings>
            <setting name="ExportDir" serializeAs="String">
                <value>C:\DEV\Work\AD</value>
            </setting>
            <setting name="Wildcard" serializeAs="String">
                <value>samaccountname</value>
            </setting>
            <setting name="PersistToDatabase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PersistIfEmailAvailable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PersistIfDepartmentAvailable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=; User Id=; Password=; Initial Catalog=</value>
            </setting>
            <setting name="WriteFiles" serializeAs="String">
                <value>True</value>
            </setting>
        </ReadADInfos.Properties.Settings>
    </applicationSettings>
</configuration>