<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharepointExport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SharepointExport.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>User ID=;Password=;Initial Catalog=;Data Source=;</value>
            </setting>
            <setting name="WorkingDir" serializeAs="String">
                <value>C:\DEV\Work\Sharepoint</value>
            </setting>
            <setting name="SharepointBaseUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="SharepointUser" serializeAs="String">
                <value />
            </setting>
            <setting name="SharepointPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SharepointDomain" serializeAs="String">
                <value />
            </setting>
        </SharepointExport.Properties.Settings>
    </applicationSettings>
</configuration>