<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ParallelProcess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ParallelProcess.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=;Initial Catalog=;User ID=;Password=;Persist Security Info=True;</value>
            </setting>
            <setting name="Prozesse" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>1|APP|C:\DEV\SSG\trunk\Projects\Util\ParallelProcess\TestWorker15\bin\Debug\TestWorker15.exe</string>
                        <string>1|SQL|execute sp_endless</string>
                        <string>2|APP|C:\DEV\SSG\trunk\Projects\Util\ParallelProcess\TestWorker15\bin\Debug\TestWorker15.exe</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MaxProcess" serializeAs="String">
                <value>10</value>
            </setting>
        </ParallelProcess.Properties.Settings>
    </applicationSettings>
</configuration>