<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExcelImport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ExcelImport.Properties.Settings>
            <setting name="Importspalte_Beginn" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="ImportTable" serializeAs="String">
                <value>TEST</value>
            </setting>
            <setting name="IgnoreHeader" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="IndexOfDateTimeColumns" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>8</string>
                        <string>11</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ImportSheet" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Importfile" serializeAs="String">
                <value>D:\Reklamationen.xlsx</value>
            </setting>
            <setting name="Importspalte_Ende" serializeAs="String">
                <value>V</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=; User Id=; Password=; Initial Catalog=Temp</value>
            </setting>
            <setting name="IgnoreEmptyRows" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MultiSheetImport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MultiSheetImport_Sheets" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>1</string>
                        <string>2</string>
                        <string>3</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MultiSheetImport_TargetTables" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>A</string>
                        <string>B</string>
                        <string>C</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value>en-US</value>
            </setting>
        </ExcelImport.Properties.Settings>
    </applicationSettings>
</configuration>