<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RiskRSSReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <RiskRSSReader.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="FeedTable" serializeAs="String">
                <value />
            </setting>
            <setting name="FeedColumn" serializeAs="String">
                <value />
            </setting>
            <setting name="FeedSupplierId" serializeAs="String">
                <value />
            </setting>
            <setting name="FeedName" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetTable" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPW" serializeAs="String">
                <value />
            </setting>
            <setting name="Proxy" serializeAs="String">
                <value />
            </setting>
        </RiskRSSReader.Properties.Settings>
    </applicationSettings>
</configuration>